/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oxygen', sans-serif; */
body, html {
  display: contents;
  font-family: 'Oxygen', sans-serif;
}

header {
  width: 100%;
  background-color: #00D08E;
  display: flex;
  align-items: stretch;
  padding: 20px 50px;
  font-family: 'Oxygen', sans-serif;
  position: fixed;
}

ion-icon {
  margin-top: 10px;
  margin-right: 8px;
  font-size: 1.3em;
}

footer {
  display: flex;
  background-color: #00D08E;
  flex-shrink: 0;
  color: white;
  width: 100%;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.3em;
  padding: 20px 50px;
}

footer a {
  padding: 10px 40px;
}

img {
  width: 120px;
}

.profile-pic {
  width: 80%;
  border-radius: 50%;
  border: black solid 5px;
}

.home-page, .resume-page, .projects-page, .contact-page {
  display: flex;
  margin: 150px;
  padding-top: 100px;
  align-items: center;
}

.about-me-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.about-me-text {

}
.about-me-name {

}
.home-page {
  flex-direction: column;
}

.home-link {
  align-items: left;
  width: 60%;
  margin-top: auto 10px;
  font-size: 3em;
  font-family: 'Marck Script', cursive;
  color: white;
}

.nav-bar {
  display: flex;
  color: white;
  width: 40%;
  margin: auto 70px;
  justify-content: space-between;
  font-size: 1.3em;
}

.contact-link {
  padding-right: 50px;
}

.project-pic {
  width: 15%;
  height: 15%;
  border-radius: 25%;
  border: black 3px solid;
}

.resume-pic {
  width: 15%;
  border-radius: 25%;
}

.resume-title {
  border: #E3E3E3 solid 1px;
  border-top: none;
  border-left: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-image: linear-gradient(to bottom right, white, #DDFFED);
}

.resume-section {
  margin: 50px;
}

.hp-project-top3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
}
