/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oxygen', sans-serif; */
body, html {
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  margin-bottom: 0;
  margin-left: 0;
}

header {
  width: 100%;
  background-color: #00D08E;
  display: flex;
  align-items: stretch;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

a {
  cursor: pointer;
}

ion-icon {
  margin-top: 10px;
  margin-right: 8px;
  font-size: 1.3em;
  cursor: pointer;
}

footer {
  display: flex;
  background-color: #00D08E;
  flex-shrink: 0;
  color: white;
  width: 100%;
  justify-content: center;
  font-size: 1.3em;
  padding: 20px 0;
  margin: auto;

}

footer a {
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

button {
  display: block;
  background-color: #909090;
  color: #00D08E;
  border-radius: 50%;
  padding-left: 13px;
  padding-bottom: 8px;
  float: right;
  text-align: center;
  font-size: 2em;
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #FFE354;
}

.page-title {
  text-align: center;
  margin: 100px;
}
.welcome-intro {
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
}

.profile-pic {
  border-radius: 50%;
  border: black solid 5px;
  width: 400px;
  margin-top: 30px;
}

.home-page {
  margin: 170px;
  padding-top: 120px;
}

.home-page, .resume-page, .projects-page, .contact-page {
  display: flex;
  align-items: center;
}

.resume-page, .contact-page, .projects-page {
  flex-direction: column;
  margin: 150px 150px 150px;
  /* padding-top: 50px; */
}

.about-me-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

.welcome-text {
  margin-left: 100px;
  font-size: 1.5em;
}

.about-me-title {
  padding-right: 70px;
  border-right: black 3px solid;
}
.about-me-text {
  padding-left: 70px;
}

.see-more {
  text-align: center;
  margin-top: 70px;
}
.see-more:hover {
  text-decoration: underline;
}

.home-page {
  flex-direction: column;
}

.home-link {
  text-align: left;
  width: 60%;
  margin-top: 10px;
  font-size: 3em;
  font-family: 'Marck Script', cursive;
  color: white;
}

.welcome-logo {
  font-size: 5em;
  font-family: 'Marck Script', cursive;
}

.nav-bar {
  display: flex;
  color: white;
  width: 40%;
  margin: auto 70px;
  justify-content: space-between;
  font-size: 1.3em;
}

.contact-link {
  padding-right: 50px;
}

.project-pic {
  width: 250px;
  height: 250px;
  border-radius: 25%;
  border: black 3px solid;
}

.project-pic:hover {
  opacity: 30%;
}


.hp-projects {
  margin-top: 150px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hp-project-top3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ---------------------- Resume Page ---------------------- */

.resume-pic {
  width: 15%;
  border-radius: 25%;
}

.resume-title {
  border: #E3E3E3 solid 1px;
  border-top: none;
  border-left: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-image: linear-gradient(to bottom right, white, #DDFFED);
}

.resume-title:hover {
  background-image: linear-gradient(to bottom right, #DDFFED, white);
}

.resume-section {
  margin: 50px;
  width: 90%;
}

/* ---------------------- Projects Page ---------------------- */


.projects-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-img {
  width: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
 }

.proj-rows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 50px;
  flex-wrap: wrap;

}

.projects-header {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 100px;
}

.project-card {
  margin: 50px 15px 150px 15px;
  padding: 20px;
  background-image: linear-gradient(to bottom right, white, #E3E3E3);
  border: #E3E3E3 solid 1px;
  border-radius: 15%;
  width: 300px;
  min-height: 400px;
  flex-wrap: wrap;
  align-items: center;
}

.project-card:hover {
  background-image: linear-gradient(to bottom right, #E3E3E3, white);
}


/* ---------------------- Contacts Page ---------------------- */

.contact-page h2 {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 60px;
}

.contact-user-name {
  display: inline-block;
  margin-bottom: 20px;
}

.input-text-area h5 {
  display:inline;
  margin-right: 20px;
}

.contact-user-message h5 {
  display: block;
}


/* ---------------------- DARK MODE ---------------------- */

/* #00362A  <- resume title divs for dark mode???*/

body.dark-mode, html.dark-mode {
  background-color: #2F2F2F;
  color: white;
}

header.dark-mode, footer.dark-mode {
  background-color: #002E18;
  color: white;
}

button.dark-mode:hover {

  background-color: black;
  color: #FFE354;
}

.profile-pic.dark-mode, .project-pic.dark-mode {
  border: white 5px solid;
}

.resume-title.dark-mode {
  border-bottom: #272727 solid 2px;
  border-right: #272727 solid 2px;
  background-image: linear-gradient(to bottom right, #3D3D3D, #272727);
}

.resume-title.dark-mode:hover, .project-card.dark-mode:hover {
  background-image: linear-gradient(to bottom right, #272727, #3D3D3D);
}

.project-card.dark-mode {
  border: #272727 solid 5px;
  background-image: linear-gradient(to bottom right, #3D3D3D, #272727);
}

input.dark-mode, textarea.dark-mode {
  background-color: #4C4C4C;
  color: white;
}
.projects-page a.dark-mode {
  color: #00D08E;
}

@media (max-width: 1161px) {

/* made project card wider */

.page-title {
  font-size: 2.3rem;
}

.project-card {
  width: 80vw;
  text-align: center;
  font-size: 1.7rem;
}
.proj-img {
  width: 50vw;
}

}

@media (max-width: 860px) {
  .resume-page {
    margin-left: 0px;
    margin-right: 0px;
    width: 90%;
  }
  .resume-page-title {
    margin-bottom: 50px;
  }
  .name-photo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .resume-pic {
    width: 60%;
  }

}

@media (max-width: 339px) {
  body {
    align-items: center;
  }

  button {
    margin-top: 130px;
  }


}
